.auth-body {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .logo {
    display: flex;
    align-items: flex-end;
    img {
      height: 5.5rem;
      margin-right: 1rem;
    }
    p {
      font-size: 2.3rem;
      color: #000000;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    .form-group {
      width: 100%;
      font-family: 'Indie Flower';
      font-size: 1.5rem;
    }

    .btn {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      height: 3rem;
      border-radius: 1.5rem;
      width: 50%;
      background: #006cff;
      border: none !important;
      font-family: 'Indie Flower';
      font-size: 1.6rem;
      &:hover {
        background: darken(#006cff, 5%);
      }
    }
  }

  .disclaimer {
    margin-top: 1rem;
  }
}
