.navbar {
  height: 10vh;

  .brand-container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    img {
      height: 100%;
    }

    .logo {
      font-size: 1.8rem;
      color: #000000;
    }
  }

  .nav {
    p {
      font-size: 1.4rem;
      color: #ffffff;
    }

    p:after {
      display: block;
      content: '';
      border-bottom: solid 1px #ffffff;
      transform: scaleX(0);
      transition: transform 350ms ease-in-out;
    }
    p:hover:after {
      transform: scaleX(1);
    }
    p:after {
      transform-origin: 100% 0%;
    }
  }
}
