.navbar {
  height: 10vh;

  .brand-container {
    display: flex;
    align-items: center;
    height: 100%;
    img {
      height: 100%;
      margin-right: 0.5rem;
    }

    .logo {
      font-size: 1.8rem;
    }
  }

  .nav {
    p {
      font-size: 1.4rem;
    }
  }
}
