.App {
  text-align: center;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  height: 80vh;

  .left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-right: 0;

    .btn {
      width: 95%;
      margin-left: 5%;
      margin-right: -2rem;
      padding: 1rem 10%;
      height: 13%;
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: #8697ff;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      &:hover {
        background: darken(#8697ff, 5%);
      }
      &.inactive {
        background: transparent;
        &:hover {
          background: darken(#fec6d5, 5%);
        }
      }
      h3 {
        font-size: 1.7rem;
        transition: 0.15s ease-in-out;
      }
    }
  }

  .right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0;
  }
}
